body{
    
    background-color: #f5faf5;
}
h4{
    font-family: "Times New Roman", Times, serif;
  color: #90c552 
}
img{
    width: inherit;
}
hr{
    border: 1px solid #90c552;
    border-radius: 4px;
    width:30%;text-align:center
}
p {
    color: #90c552
}
.checkbox{
    text-align: end;
    font-size: xx-small
}
.stext{
    text-align: end;
    font-size: xx-small;
}