$brand-colour: #8FC74A;


.baby{
    position: absolute;
    float: right;
    left: 0px;
    top: 0px;
    z-index: -1;
}
.nav-link{
    margin-left: 10px;
}
h4{
    color:$brand-colour;
}
.divider{
    color:$brand-colour ;
    width: 60%;
    align-items: center;
    opacity: 1;
    margin:auto;
}
.copyright{
    margin-left:10px;
}

.card{
    border-radius: 15px;
}

.fa-heart{
    cursor: pointer;
    &:hover{
        color: red;
    }
}
.fa-x{
    cursor: pointer;
    &:hover{
        color: red;
    }
}
.small-text{
    font-size: 10px;
}
.small-date{
    font-size: 10px;
}


.btn-brand
{color:#fff; 
    background-color:#8FC74A;
    border-color:#8FC74A
}
.btn-brand:hover
{color:#fff;
    background-color:#8FC74A;
    border-color:#8FC74A
}
.btn-check:focus+
.btn-brand,
.btn-brand:focus
{color:#fff;
    background-color:#8FC74A;
    border-color:#8FC74A;
    box-shadow:0 0 0 .25rem rgba(49,132,253,.5)
}
.btn-check:active+.btn-brand,
.btn-check:checked+.btn-brand,
.btn-brand.active,
.btn-brand:active,
.show>.btn-brand.dropdown-toggle
{color:#fff;
    background-color:#8FC74A;
    border-color:#8FC74A
}
.btn-check:active+.btn-brand:focus,
.btn-check:checked+.btn-brand:focus,
.btn-brand.active:focus,
.btn-brand:active:focus,
.show>.btn-brand.dropdown-toggle:focus
{box-shadow:0 0 0 .25rem rgba(49,132,253,.5)
}
.btn-brand.disabled,
.btn-brand:disabled
{color:#fff;
    background-color:#8FC74A;
    border-color:#8FC74A
}