// Roboto font family, regular and medium
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

// color variables
$body: #EEE;
$brand: #8FC74A;
$secondary: #868E96;

// fonts variables
$primaryFont: "Roboto", sans-serif;
$secondaryFont: "Roboto", sans-serif;

